@font-face {
	font-family: 'MyriadPro';
	src: url('../MyriadPro.otf');
}
@font-face {
	font-family: 'MyriadPro Thin';
	src: url('../MyriadPro Thin.otf');
}
body{
	background-color: rgb(250, 250, 250);
}
div#leftpanel{
	background-color: hsla(0,0%,0%, 0.5);
	width: 20%;
	height: 100%;
	position: absolute;
	top: 0%;
	left: 0%;
	border-width: 0px;
	border-color: red;
	border-style: solid;
	z-index: 10;
}
div#entry{
	width: 100%;
	height: 50px;
	position: relative;
	top: 55px;
	border-width: 0px;
	border-color: red;
	border-style: solid;
	background-color: #999999;
}
p#section{
	font-family: "MyriadPro Thin";
	font-size: 18px;
	position: absolute;
	width: 100%;
	top: -4px;
	border-color: black;
	border-style: solid;
	border-width: 0px;
	text-align: center;
	color: white;
}
div#rightpanel{
	width: 76%;
	height: 100%;
	position: absolute;
	left: 22%;
	border-color: red;
	border-style: solid;
	border-width: 0px;
}
div#product_showcase{
	width: 100%;
	height: 200px;
	position: relative;
	top: 58px;
	left: 0%;
	border-color: red;
	border-style: solid;
	border-width: 0px;
	background-image: url("../showcase_windows10m.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	box-shadow: 2px 2px 3px 3px #595959;
}
p#showcase_intro{
	font-family: "MyriadPro Thin";
	font-size: 20px;
	text-align: right;
	width: 400px;
	height: 20px;
	position: absolute;
	bottom: 50px;
	right: 20px;
	color: white;
	text-shadow: 0px 0px #cccccc;
}
p#product_name{
	font-family: "MyriadPro";
	font-size: 44px;
	text-align: right;
	width: 800px;
	height: 20px;
	position: absolute;
	bottom: 0px;
	right: 20px;
	color: white;
	text-shadow: 1px 1px #cccccc;
}
div#statistics{
	position: absolute;
	top: 275px;
	left: 0%;
	height: 380px;
	width: 65%;
	border-color: red;
	border-style: solid;
	border-width: 0px;
	background: white;
	box-shadow: 2px 2px 3px 3px #cccccc;
}
canvas#statistics_canvas{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0%;
	left: 0%;
}
div#management{
	position: absolute;
	top: 275px;
	left: 67%;
	height: 380px;
	width: 33%;
	border-color: red;
	border-style: solid;
	border-width: 0px;
	background: white;
	box-shadow: 2px 2px 3px 3px #cccccc;
	padding: 0px;
}
div#portal_title{
	position: relative;
	width: 100%;
	height: 50px;
	background-color: hsla(207, 98%, 42%, 1);
	top: 0px;
	left: 0px;
	box-shadow: 1px 1px 1px 2px #cccccc;
}
p#portal_title{
	position: absolute;
	font-family: "MyriadPro";
	font-size: 20px;
	color: white;
	width: 200px;
	height: 20px;
	top: 50%;
	left: 10px;
	margin-top: -10px;
}
div#option_1{
	position: relative;
	width: 100%;
	height: 50px;
	background-color: white;
	top: 0px;
	left: 0px;
	box-shadow: 1px 1px 1px 2px #cccccc;
}
p#option_1{
	position: absolute;
	font-family: "MyriadPro";
	font-size: 18px;
	color: #666666;
	width: 200px;
	height: 20px;
	top: 50%;
	left: 10px;
	margin-top: -10px;
}
div#option_2{
	position: relative;
	width: 100%;
	height: 50px;
	background-color: white;
	top: 0px;
	left: 0px;
	box-shadow: 1px 1px 1px 2px #cccccc;
}
p#option_2{
	position: absolute;
	font-family: "MyriadPro";
	font-size: 18px;
	color: #666666;
	width: 200px;
	height: 20px;
	top: 50%;
	left: 10px;
	margin-top: -10px;
}
div#header{
	background-color: hsla(207, 98%, 42%, 1);
	padding: 10px;
	width: 100%;
	height: 35px;
	margin: 0px;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 20;
}

a.headerlink:link{
	text-decoration: none;
	color: white;
}
a.headerlink:visited{
	text-decoration: none;
	color: white;
}
li{
	font-family: "MyriadPro", Helvetica;
	font-size: 20px;
}
li#HeaderOne{
	display: inline;
	padding: 5px;
	position: fixed;
	top: 12px;
	left: 150px;
}
li#HeaderTwo{
	display: inline;
	padding: 5px;
	position: fixed;
	top: 12px;
	left: 275px;
}
li#HeaderThree{
	display: inline;
	padding: 5px;
	position: fixed;
	top: 12px;
	right: 120px;
}
li#HeaderFour{
	display: inline;
	padding: 5px;
	position: fixed;
	top: 12px;
	left: 400px;
}
img.logo{
	width: 47px;
	height: 40px;
	float: left;
	position: fixed;
	top: 5px;
	left: 44px;
}
img.LogoutIcon{
	width: 42px;
	height: 40px;
	float: right;
	position: fixed;
	top: 7px;
	right: 44px;
}
img.LoginIcon{
	width: 40px;
	height: 38px;
	float: right;
	position: fixed;
	top: 7px;
	right: 44px;
}
a.link:link{
	text-decoration: none;
	color: #666666;
}
a.link:visited{
	text-decoration: none;
	color: #666666;
}
a.link_2:link{
	text-decoration: none;
	color: white;
}