@font-face {
	font-family: 'MyriadPro';
	src: url('MyriadPro.otf');
}
@font-face {
	font-family: 'MyriadPro Thin';
	src: url('MyriadPro Thin.otf');
}
body{
	background-color: rgb(250, 250, 250);
}
div#leftpanel{
	background-color: hsla(0,0%,0%, 0.5);
	width: 20%;
	height: 100%;
	position: absolute;
	top: 0%;
	left: 0%;
	border-width: 0px;
	border-color: red;
	border-style: solid;
	z-index: 10;
}
div#entry{
	width: 100%;
	height: 50px;
	position: relative;
	top: 55px;
	border-width: 0px;
	border-color: red;
	border-style: solid;
	background-color: #999999;
}
p#section{
	font-family: "MyriadPro Thin";
	font-size: 18px;
	position: absolute;
	width: 100%;
	top: -4px;
	border-color: black;
	border-style: solid;
	border-width: 0px;
	text-align: center;
	color: white;
}
div#rightpanel{
	width: 76%;
	height: 100%;
	position: absolute;
	left: 22%;
	border-color: red;
	border-style: solid;
	border-width: 0px;
}

div#post{
	position: relative;
	width: 100%;
	height: 145px;
	top: 65px;
	border-color: red;
	border-style: solid;
	border-width: 0px;
	box-shadow: 2px 2px 3px 3px #cccccc;
	background: white;
}
div#scorepanel{
	position: absolute;
	background-color: hsla(207, 98%, 42%, 0.8);
	height: 100%;
	width: 12%;
	box-shadow: 0px 1px 1px 1px #cccccc;
}
div#header{
	background-color: hsla(207, 98%, 42%, 1);
	padding: 10px;
	width: 100%;
	height: 35px;
	margin: 0px;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 20;
}
p#score_title{
	width: 100%;
	font-family: "MyriadPro";
	font-size: 15px;
	color: white;
	text-align: center;
}
p#score{
	width: 100%;
	font-family: "MyriadPro";
	font-size: 60px;
	color: white;
	text-align: center;
	text-shadow: 2px;
	margin-top: -8px;

}
div#uparrow{
	width: 50%;
	height: 30px;
	border-width: 0px;
	border-color: red;
	border-style: solid;
	position: absolute;
	bottom: 0px;
	left: 10%;
}
img.uparrow{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -11.5px;
	margin-left: -12.5px;
}
div#downarrow{
	width: 50%;
	height: 30px;
	border-width: 0px;
	border-color: red;
	border-style: solid;
	position: absolute;
	bottom: 0px;
	left: 40%;
}
img.downarrow{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -11.5px;
	margin-left: -12.5px;
}
div#posttitle{
	width: 75%;
	height: 22%;
	position: absolute;
	top: 2%;
	left: 13%;
	border-width: 0px;
	border-color: red;
	border-style: solid;
}
p#posttitle{
	position: absolute;
	top: 50%;
	left: 0.5%;
	font-family: "MyriadPro Thin";
	font-size: 18px;
	margin-top: -9px;
	text-shadow: 1px #cccccc;
}
div#postcontent{
	width: 75%;
	height: 52%;
	border-width: 0px;
	border-color: rgb(255,255,255);
	border-style: solid;
	top: 23%;
	left: 13%;
	margin-left: 3px;
	margin-top: 3px;
	position: absolute;
	overflow: hidden;
}
div#mis{
	bottom: 3%;
	height: 15%;
	left: 13%;
	position: absolute;
	width: 75%;
	border-width: 3px;
	border-color: rgb(255,255,255);
	border-style: solid;
}
p#description{
	display: inline;
	font-family: "MyriadPro Thin";
	font-size: 14px;
	position: relative;
	bottom: 7px;
}
p#postcontent{
	font-family: "MyriadPro";
	color: #999999;
	font-size: 18px;
	margin-top: 3px;
}
p#discussionlink{
	display: inline;
	font-family: "MyriadPro Thin";
	font-size: 14px;
	position: absolute;
	right: 4px;
	bottom: -16px;
}
div#poststatus{
	height: 100%;
	width: 10%;
	border-width: 0px;
	border-color: red;
	border-style: solid;
	position: absolute;
	right: 0px;
}
div#heatmap{
	width: 100%;
	height: 500px;
	position: relative;
	top: 85px;
	left: 0px;
	border-width: 0px;
	border-color: red;
	border-style: solid;
	background-color: white;
	box-shadow: 1px 1px 2px 2px #cccccc;
}
div#heatmap_title{
	width: 100%;
	height: 100px;
	left: 0px;
	position: absolute;
	background-color: hsla(207, 98%, 42%, 0.8);
}
p#heatmap_score{
	top: -75px;
	left: 10px;
	height: 98px;
	width: 100px;
	border-width: 0px;
	border-color: red;
	border-style: solid;
	position: absolute;
	font-family: "MyriadPro";
	font-size: 80px;
	color: white;
}
p#heatmap_title_1{
	top: 0px;
	left: 101px;
	height: 20px;
	width: 100px;
	border-width: 0px;
	border-color: red;
	border-style: solid;
	position: absolute;
	font-family: "MyriadPro Thin";
	font-size: 16px;
	color: white;
}
p#heatmap_title_2{
	top: -16px;
	left: 98px;
	height: 60px;
	width: 300px;
	border-width: 0px;
	border-color: red;
	border-style: solid;
	position: absolute;
	font-family: "MyriadPro Thin";
	font-size: 48px;
	color: white;
}
img.statusicon{
	height: 80px;
	width: 80px;
	top: 45%;
	left: 50%;
	margin-top: -40px;
	margin-left: -40px;
	border-width: 0px;
	border-color: red;
	border-style: solid;
	position: absolute;
	right: 0px;
}
a.headerlink:link{
	text-decoration: none;
	color: white;
}
a.headerlink:visited{
	text-decoration: none;
	color: white;
}
li{
	font-family: "MyriadPro", Helvetica;
	font-size: 20px;
}
li#HeaderOne{
	display: inline;
	padding: 5px;
	position: fixed;
	top: 12px;
	left: 150px;
}
li#HeaderTwo{
	display: inline;
	padding: 5px;
	position: fixed;
	top: 12px;
	left: 275px;
}
li#HeaderThree{
	display: inline;
	padding: 5px;
	position: fixed;
	top: 12px;
	right: 120px;
}
li#HeaderFour{
	display: inline;
	padding: 5px;
	position: fixed;
	top: 12px;
	left: 400px;
}
img.logo{
	width: 47px;
	height: 40px;
	float: left;
	position: fixed;
	top: 5px;
	left: 44px;
}
img.LogoutIcon{
	width: 42px;
	height: 40px;
	float: right;
	position: fixed;
	top: 7px;
	right: 44px;
}
img.LoginIcon{
	width: 40px;
	height: 38px;
	float: right;
	position: fixed;
	top: 7px;
	right: 44px;
}
