<!DOCTYPE html>
<html>
<head>
	<title>Iris</title>
	<link rel="stylesheet" type="text/css" href="../static/analysis.css">
</head>
<body>
	<div id="header">
		<a href="/"><img src="../static/logo.png" class="logo" alt="Logo of Iris"></a>
		<ul>
			<li id="HeaderOne"><a class="headerlink" href="/review">Review</a></li>
			<li id="HeaderTwo"><a class="headerlink" href="/about">About</a></li>
			{% if ifLoggedOn == True %}
				<li id="HeaderThree">{{ username }}</li>
				<a href="/logout"><img src="../static/logout.png" class="LogoutIcon" alt="Log Out"></a>
			{% endif %}
			{% if ifLoggedOn == False %}
				<a href="/login"><img src="../static/login.png" class="LoginIcon" alt="Log In"></a>
			{% endif %}
			{% if ifdev == True %}
				<li id="HeaderFour"><a class="headerlink" href="/controlpanel">Control Panel</a></li>
			{% endif %}
		</ul>
	</div>
	<div id="body">
		<script type="text/javascript" src="../static/Chart.js"></script>
		<div id="leftpanel">
			<div id="entry">
				<p id="section">Overview</p>
			</div>
			<div id="entry">
				<p id="section">Analysis</p>
			</div>
		</div>
		<div id="rightpanel">
			<div id="topic_extraction">
				<div id="topic_extraction_title">
					<p id="topic_extraction_title">Topic Extraction</p>
				</div>
				<canvas id="topic_extraction_chart"></canvas>
			</div>
			<div id="sentiment_analysis">
				<img src="../static/sentiment_analysis.png" class="sentiment_analysis">
				<div id="sentiment_analysis_text">
					<p id="sentiment_analysis"><a href="/control_panel/sentiment_analysis_catalog">Sentiment Analysis</a></p>
				</div>
			</div>
		</div>
		<script type="text/javascript">
		var ctx = document.getElementById("topic_extraction_chart").getContext("2d");
		var data = {
			labels: ["XBOX","Music","Live Subscription","LIVE","XBOX LIVE","Games"],
			datasets: [{
				label:"TestDataset",
            	fillColor: "rgba(4,115,208,0.2)",
            	strokeColor: "rgba(220,220,220,0.9)",
            	pointColor: "rgba(220,220,220,0.9)",
            	pointStrokeColor: "#fff",
            	pointHighlightFill: "#fff",
            	pointHighlightStroke: "rgba(220,220,220)",
            	data: [0.87,0.66,0.44,0.32,0.21,0.19]
			},]
		}
		var myNewChart = new Chart(ctx).Bar(data);
		</script>
	</div>
</body>
</html>