<!DOCTYPE html>
<html>
<head>
	<title>Iris</title>
	<link rel="stylesheet" type="text/css" href="../static/control_panel.css">
</head>
<body>
	<div id="header">
		<a href="/"><img src="../static/logo.png" class="logo" alt="Logo of Iris"></a>
		<ul>
			<li id="HeaderOne"><a class="headerlink" href="/review">Review</a></li>
			<li id="HeaderTwo"><a class="headerlink" href="/about">About</a></li>
			{% if ifLoggedOn == True %}
				<li id="HeaderThree">{{ username }}</li>
				<a href="/logout"><img src="../static/logout.png" class="LogoutIcon" alt="Log Out"></a>
			{% endif %}
			{% if ifLoggedOn == False %}
				<a href="/login"><img src="../static/login.png" class="LoginIcon" alt="Log In"></a>
			{% endif %}
			{% if if_dev == True %}
				<li id="HeaderFour"><a class="headerlink" href="/controlpanel">Control Panel</a></li>
			{% endif %}
		</ul>
	</div>
	<div id="body">
		<script type="text/javascript" src="../static/Chart.js"></script>
		<div id="leftpanel">
			<div id="entry">
				<p id="section">Overview</p>
			</div>
			<div id="entry">
				<p id="section"><a href="/control_panel/analysis" class="link_2">Analysis</a></p>
			</div>
		</div>
		<div id="rightpanel">
			<div id="product_showcase">
				<p id="showcase_intro">Currently Registered With</p>
				<p id="product_name">{{ product_name }}</p>
			</div>
			<div id="statistics">
				<canvas id="statistics_canvas"></canvas>
			</div>
			<div id="management">
				<div id="portal_title">
					<p id="portal_title">Manage with Ease</p>
				</div>
				<div id="option_1">
					<p id="option_1"><a href="/control_panel/manage_section" class="link">Add/Remove a Section</a></p>
				</div>
				<div id="option_2">
					<p id="option_2"><a href="/control_panel/manage_feature" class="link">Add/Remove a Feature</a></p>
				</div>
			</div>
		</div>
		<script type="text/javascript">
		var ctx = document.getElementById("statistics_canvas").getContext("2d");
		var data = {
			labels: ["Nov 9th","Nov 10th","Nov 11st","Nov 12nd","Nov 13rd","Nov 14th"],
			datasets: [{
				label:"TestDataset",
            	fillColor: "rgba(220,220,220,"+"0.2)",
            	strokeColor: "rgba(220,220,220,0.9)",
            	pointColor: "rgba(220,220,220,0.9)",
            	pointStrokeColor: "#fff",
            	pointHighlightFill: "#fff",
            	pointHighlightStroke: "rgba(220,220,220)",
            	data: [50,80,30,50,40,35]
			},]
		}
		var myNewChart = new Chart(ctx).Line(data);
		</script>
	</div>
</body>
</html>