<!DOCTYPE html>
<html>
<head>
	<title>Iris</title>
	<link rel="stylesheet" type="text/css" href="../static/CSS/manage_feature.css">
</head>
<body>
	<div id="header">
		<a href="/"><img src="../static/logo.png" class="logo" alt="Logo of Iris"></a>
		<ul>
			<li id="HeaderOne"><a class="headerlink" href="/review">Review</a></li>
			<li id="HeaderTwo"><a class="headerlink" href="/about">About</a></li>
			{% if ifLoggedOn == True %}
				<li id="HeaderThree">{{ username }}</li>
				<a href="/logout"><img src="../static/logout.png" class="LogoutIcon" alt="Log Out"></a>
			{% endif %}
			{% if ifLoggedOn == False %}
				<a href="/login"><img src="../static/login.png" class="LoginIcon" alt="Log In"></a>
			{% endif %}
			{% if if_dev == True %}
				<li id="HeaderFour"><a class="headerlink" href="/control_panel">Control Panel</a></li>
			{% endif %}
		</ul>
	</div>
	<div id="body">
		<div id="leftpanel">
			<div id="entry">
				<p id="section">Overview</p>
			</div>
			<div id="entry">
				<p id="section">Analysis</p>
			</div>
		</div>
		<div id="rightpanel">
			<form action="/control_panel/manage_feature" method="POST">
			<div id="feature">
				{% if controls[0] %}
					<input class="stdcheckbox" type="checkbox" name="ifupvote" value="True" checked="checked" />
					<p class="checkboxtext">Allow users to vote for a feature</p>
				{% endif %}
				{% if controls[0] == False %}
					<input class="stdcheckbox" type="checkbox" name="ifupvote" value="True" checked="checked"/>
					<p class="checkboxtext">Allow users to vote for a feature</p>
				{% endif %}
			</div>
			<div id="feature">
				{% if controls[0] %}
				<input class="stdcheckbox" type="checkbox" name="ifdownvote" value="True" checked="checked"/>
				<p class="checkboxtext">Allow users to vote against a feature</p>
				{% endif %}
				{% if controls[0] == False %}
				<input class="stdcheckbox" type="checkbox" name="ifdownvote" value="True"/>
				<p class="checkboxtext">Allow users to vote against a feature</p>
				{% endif %}
			</div>
			<div id="feature">
				{% if controls[0] %}
				<input class="stdcheckbox" type="checkbox" name="maxvote" value="3" checked="checked"/>
				<p class="checkboxtext">One user may cast at most 3 votes</p>
				{% endif %}
				{% if controls[0] == False %}
				<input class="stdcheckbox" type="checkbox" name="maxvote" value="3"/>
				<p class="checkboxtext">One user may cast at most 3 votes</p>
				{% endif %}
			</div>
			<div id="feature">
				{% if controls[0] %}
				<input class="stdcheckbox" type="checkbox" name="ifpostfeature" value="True" checked="checked"/>
				<p class="checkboxtext">Users may post new feature requests</p>
				{% endif %}
				{% if controls[0] == False %}
				<input class="stdcheckbox" type="checkbox" name="ifpostfeature" value="True"/>
				<p class="checkboxtext">Users may post new feature requests</p>
				{% endif %}
			</div>
			<div id="feature">
				{% if controls[0] %}
				<input class="stdcheckbox" type="checkbox" name="ifpostfollowup" value="True" checked="checked"/>
				<p class="checkboxtext">Users may post follow-ups to a feature request</p>
				{% endif %}
				{% if controls[0] == False %}
				<input class="stdcheckbox" type="checkbox" name="ifpostfollowup" value="True"/>
				<p class="checkboxtext">Users may post follow-ups to a feature request</p>
				{% endif %}
			</div>
			<input id="submit_button" type="submit" name="submit_button" value="Submit" checked="checked"/>
			</form>
		</div>
	</div>
</body>
</html>